<%= form_for ad do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :prince %>
    <%= form.number_field :prince %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
