<!DOCTYPE html>
<html>
  <head>
    <title>Classificados</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <p>
    <%= flash.notice %>
    <%= flash.alert %>
  </p>

    <nav>
      <% if user_signed_in? %>
        <%= button_to t("menu.logout"), sign_out_sessions_path, method: :delete %>
        <%= link_to t("menu.new_ad"), new_ad_path %>
      <% else %>
        <%= link_to t("menu.signup"), new_user_path %>
        <%= link_to t("menu.signin"), new_session_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
